body {
	background-image: url("../images/beachbackground1.jpg")
}


#gridContainer {
	height: 306px;
	width: 306px;
	margin: 0 auto;
}

.grids {
	height: 100px;
	width: 100px;
	border: solid 1px black;
	float: left;
	margin: 0 auto;
	background:rgba(255,255,255,0.5);
}
/*.grids:hover {
	background-color: red;
}*/

.playerName, .playerScore, .playerResult, .playerNameInput, .buttonWrapper{
	text-align: center;
	margin: 20px;

}
h1, h2{
	display: inline;
}

h1 {
	font-family: Papyrus, fantasy;
	font-size: 50px;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 24px;
	color: yellow;
}

h2 {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
	color: red;
}
#showPlayerTurn {
	text-align: center;
	margin: 20px auto;
}
.playerTurn, .playerNameAlert {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}


.box0:hover {
	background-image: url("../images/ira.gif");
	background-size: 100px 100px;
}
.box1:hover {
	background-image: url("../images/blaise.gif");
	background-size: 100px 100px;
}
.box2:hover {
	background-image: url("../images/john.gif");
	background-size: 100px 100px;
}
.box3:hover {
	background-image: url("../images/kenaniah.gif");
	background-size: 100px 100px;
}
.box4:hover {
	background-image: url("../images/jj.gif");
	background-size: 100px 100px;
}
.box5:hover {
	background-image: url("../images/kenaniah2.gif");
	background-size: 100px 100px;
}
.box6:hover {
	background-image: url("../images/john2.gif");
	background-size: 100px 100px;
}
.box7:hover {
	background-image: url("../images/blaise2.gif");
	background-size: 100px 100px;
}
.box8:hover {
	background-image: url("../images/ira2.gif");
	background-size: 100px 100px;
}
.x, .x:hover {
	background-image: url("../images/kiss.png");
	background-size: 100px 100px;
}
.o, .o:hover {
	background-image: url("../images/love.png");
	background-size: 100px 100px;
}