<!DOCTYPE html>
<html ng-app='firettt'>
    <head>
        <title>FirebaseTTT</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/angular.min.js"> </script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"> </script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"> </script>
        <script src="js/app.js"> </script>
        <script type="text/javascript" src="js/controller.js"> </script>
    </head>

    <body ng-controller="MainController as mainCtrl">

        <header>
            <div class= "playerName">
                <h1 class= "player1" ng-bind="mainCtrl.whatever.playerOne"> </h1>
                    VS
                <h1 class= "player2" ng-bind="mainCtrl.whatever.playerTwo"> </h1>
            </div>

            <div class= "playerScore">
                <h2 class= "player1score" ng-bind="mainCtrl.whatever.playerOneScore"> </h2>
                    VS
                <h2 class= "player2score" ng-bind="mainCtrl.whatever.playerTwoScore"> </h2>
            </div>

            <div class= "playerResult">
                <h2 class="playerResult" ng-bind="mainCtrl.whatever.winner" ng-show="mainCtrl.whatever.showWinner"> </h2>
            </div>
          <!-- let player to put in their name  -->
            <div class= "playerNameInput">
                <input type="textbox" ng-model="mainCtrl.whatever.playerOne"
                ng-show="mainCtrl.whatever.showPlayerOneName"  placeholder="Player One's name">
                <input type="button" value="P1 Registers" ng-click="mainCtrl.playerOneNameChange();
                mainCtrl.playerOneHere=true; mainCtrl.whatsoever.playerOneHere=true"
                ng-show="mainCtrl.whatever.showPlayerOneName">
                <input type="textbox" ng-model="mainCtrl.whatever.playerTwo"
                ng-show="mainCtrl.whatever.showPlayerTwoName"  placeholder="Player Two's name">
                <input type="button" value="P2 Registers" ng-click="mainCtrl.playerTwoNameChange();
                mainCtrl.playerTwoHere=true; mainCtrl.whatsoever.playerTwoHere=true"
                ng-show="mainCtrl.whatever.showPlayerTwoName" >

                <input type="button" value="Play Against Jefferson" ng-click="mainCtrl.aiHere=true; mainCtrl.whatsoever.aiHere=true; mainCtrl.playerTwoNameChange(); mainCtrl.whatever.aiName=true; mainCtrl.aiNameChange()" ng-show="mainCtrl.whatever.showPlayerTwoName">


<!--                 <input type="button" value="Confirm" ng-click="mainCtrl.nameChange()"
                    ng-show="mainCtrl.whatever.showName"> -->
            </div>
        </header>
        <!-- guidelines -->
        <main>
            <div class="helpGuide">
                <ul>
                    <p> ---------- Click "Reset Game" Button when page loaded --------- </p>
                    <p> Player Vs Player version </p>
                    <li> Player One types name in textbox, click "P1 Registers" button. </li>
                    <li> Player Two types name in textbox, click "P2 Registers" button. </li>
                    <li> Start Playing~ Player One Goes First. </li>
                    <p> Player Vs Jefferson version </p>
                    <li> Player One types name in textbox, click "P1 Registers" button. </li>
                    <li> Click "Play Against Jefferson" button and start playing~ </li>
                    <p> Others </p>
                    <li> Click "New Round" button for another round. </li>
                    <li> Click "Reset Game" button to quit current game. </li>
                    <li> Click "New Player Joins?" button to indicate a challenge </li>
                </ul>
            </div>
            <div id="gridContainer">
            <!-- calculate whos move  -->
                <div ng-repeat="grid in mainCtrl.whatever.gridList track by $index">
                    <span class="grids {{grid.id}}" ng-click="mainCtrl.decidePlayerMove($index); mainCtrl.letAiMove()"
                          ng-class="{x: grid.value === 'x',
                             o: grid.value === 'o',
                             v: grid.value === 'v'}">
                    </span>
                </div>
            </div>
            <!-- player turn -->
            <div id="showPlayerTurn">
                <span class= "playerTurn" ng-bind="mainCtrl.whatever.playerTurn" ng-show="mainCtrl.whatever.playerNameAlert"> </span>
            </div>
            <!-- player alert message -->
            <div id="showPlayerTwoAlertMessage">
                <span class= "playerTwoMsg" ng-bind="mainCtrl.whatever.playerTwoJoinAlertMsg" ng-show="mainCtrl.whatever.playerTwoJoinAlert">
                </span>
            </div>
            <div class= "buttonWrapper">
            <!-- new round button -->
                <input type="button" class="clearButton" value="New Round" ng-click="mainCtrl.clearButton()">
                <!-- reset game button -->
                <input type="button" class="clearButton" value="Reset Game" ng-click="mainCtrl.resetButton()">
                <!-- new player join alert button -->
                <input type="button" class="clearButton" value="New Player Joins?" ng-click="mainCtrl.playerTwoJoinAlertFunction()">


            </div>


        </main>



    </body>
</html>
