<!DOCTYPE html>
<html ng-app='firettt'>
    <head>
        <title>FirebaseTTT</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/angular.min.js"> </script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"> </script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"> </script>
        <script src="js/app.js"> </script>
        <script type="text/javascript" src="js/controller.js"> </script>
    </head>

    <body ng-controller="MainController as mainCtrl">

        <header>
            <div class= "playerName">
                <h1 class= "player1" ng-bind="mainCtrl.whatever.playerOne"> </h1> 
                    VS 
                <h1 class= "player2" ng-bind="mainCtrl.whatever.playerTwo"> </h1>
            </div>

            <div class= "playerScore">
                <h2 class= "player1score" ng-bind="mainCtrl.whatever.playerOneScore"> </h2> 
                    VS 
                <h2 class= "player2score" ng-bind="mainCtrl.whatever.playerTwoScore"> </h2>
            </div>

            <div class= "playerResult">
                <h2 class="playerResult" ng-bind="mainCtrl.whatever.winner" ng-show="mainCtrl.whatever.showWinner"> </h2>
            </div>

            <div class= "playerNameInput">
                <input type="textbox" ng-model="mainCtrl.whatever.playerOne" 
                ng-show="mainCtrl.whatever.showPlayerOneName"  placeholder="Please type yout name">
                <input type="button" value="Player One Registers Name" ng-click="mainCtrl.playerOneNameChange(); mainCtrl.playerOneHere=true; mainCtrl.whatsoever.playerOneHere=true"
                ng-show="mainCtrl.whatever.showPlayerOneName">
                <input type="textbox" ng-model="mainCtrl.whatever.playerTwo" 
                ng-show="mainCtrl.whatever.showPlayerTwoName"  placeholder="Please type yout name">
                <input type="button" value="Player Two Registers Name" ng-click="mainCtrl.playerTwoNameChange(); mainCtrl.playerTwoHere=true; mainCtrl.whatsoever.playerTwoHere=true"
                ng-show="mainCtrl.whatever.showPlayerTwoName" >

                <input type="button" value="Play Against AI" ng-click="mainCtrl.aiIsHere()">


<!--                 <input type="button" value="Confirm" ng-click="mainCtrl.nameChange()" 
                    ng-show="mainCtrl.whatever.showName"> -->
            </div>
        </header>

        <main>
            <div id="gridContainer">
                <div ng-repeat="grid in mainCtrl.whatever.gridList track by $index">
                    <span class="grids {{grid.id}}" ng-click="mainCtrl.decidePlayerMove($index)"  
                          ng-class="{x: grid.value === 'x',
                             o: grid.value === 'o'}"> 
                    </span>
                </div>
            </div>
            <div id="showPlayerTurn">
                <span class= "playerTurn" ng-bind="mainCtrl.whatever.playerTurn" ng-show="mainCtrl.whatever.playerNameAlert"> </span>
<!--                 <span class= "playerNameAlert" ng-bind="mainCtrl.whatever.playerNameAlertMessage">testing </span> -->
            </div>
            <div class= "buttonWrapper">
                <input type="button" class="clearButton" value="New Round" ng-click="mainCtrl.clearButton()"> 
                <input type="button" class="clearButton" value="New Game" ng-click="mainCtrl.newGameButton()"> 
                <input type="button" class="clearButton" value="Reset Game" ng-click="mainCtrl.resetButton()">
            </div>
        </main>



    </body>
</html>